body{
    background-color: black;
  }
  #Text{
    font-size: 3rem;
    
  }
  #Image{
    border:5px solid white;
    width: 100%;
  }

  #whole{
    margin-left: 25%;
    width: 50%;
    margin-top: 100px;
    text-align: center;
    color: white;
    font-family:'Libre Baskerville', serif;
  }